/* || Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background-color: #E9D5CA;
    --theme-color: #363062;
    --hover-color: #4D4C7D;
    --accent-color: #827397;
}

body {
    background-color: var(--background-color);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}




/* || General Button Styles */
button {
    background-color: var(--theme-color);
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: var(--hover-color);
}

button:active {
    background-color: #664692;
    box-shadow: inset 0px 0px 5px black;
    outline: none;
}




/* || Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 20px;
}

.timer {
    margin-right: 10px;
}

#highscore-button {
    width: 200px;
    height: 30px;
    font-size: 1rem;
}




/* || General Styles */
/* Making the entire main section a flexbox */
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Making the hidden attribute higher-level so that the HTML sections that I want to */
/* display hidden actually are hidden */
[hidden] {
    display:none;
}

/* Keeping every section consistent in the page */
section {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    /* position: relative; */
    flex-grow: 0;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/* || Intro section styles */
h1 {
    text-align: center;
    margin: 20px;
}

#title {
    font-size: 2rem;
}

#description {
    font-size: 1.25rem;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid rgba(128, 128, 128);
}

#start {
    width: 60%;
    margin: 10px;
    font-size: 1rem;
    border: none;
    padding: 5px;
}




/* || Quiz section styles */
ul {
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
    margin: 10px;
    list-style: none;
    padding: 10px;
    width: 90%;
}

li button {
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    margin: 2px;
}

.response {
    margin-bottom: 10px;
}




/* || Highscores section styles */
table {
    text-align: center;
    font-size: 1.4rem;
    border-spacing: 0;
    border:#E9D5CA 3px solid;
}

th {
    background-color: var(--theme-color);
    color: white;
    padding: 5px;
    width: 100px;
}

td {
    border-top:#E9D5CA 3px solid;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: var(--hover-color);
    color: white;
    width: 100px;
}

tr:nth-child(odd) {
    background-color: var(--accent-color);
    color: white;
}

.button-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
}

.button-container button {
    width: 150px;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
}




/* || Results page styles */
#quiz-results {
    flex-wrap: wrap;
}

#final-score {
    margin-bottom: 10px;
}

form {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    flex-wrap: wrap;
}

input {
    width: 70%;
    height: 25px;
    border: var(--theme-color) 3px solid;
    margin: 5px;
}

input:focus {
    outline: 0;
    border: #7166ce 3px solid;
}

#submit {
    width: 20%;
    padding: 5px;
}

#return {
    margin: 10px;
    width: 30%;
    font-size: 1.2rem;
    padding: 5px;
}




/* || Media queries for responsiveness */
@media screen and (max-width: 992px) {

    section {
        width: 75%
    }

}

@media screen and (max-width: 768px) {
    
    header {
        flex-direction: column-reverse;
    }

    table {
        width: 90%;
    }

    .button-container {
        flex-direction: column-reverse;
    }

    form {
        flex-direction: column;
    }

    input {
        width: 90%;
    }

    #submit {
        width: 30%;
    }

    #final-score {
        width: 90%;
        text-align: center;
    }

}